<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="alpha">
      <section name="cache" type="MotorProtection.Core.Common.CacheSection, MotorProtection.Core" />
      <section name="logging" type="MotorProtection.Core.Common.ProviderSection, MotorProtection.Core" />
      <section name="auditing" type="MotorProtection.Core.Common.ProviderSection, MotorProtection.Core" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="ApplicationName" value="MotorProtection JobManager" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="MotorProtectorEntities" connectionString="metadata=res://*/Data.MotorProtector.csdl|res://*/Data.MotorProtector.ssdl|res://*/Data.MotorProtector.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Data\MotorProtector.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MotorProtectorEntities" connectionString="metadata=res://*/Data.MotorProtector.csdl|res://*/Data.MotorProtector.ssdl|res://*/Data.MotorProtector.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MotorProtection;persist security info=True;user id=sa;password=Fabric2010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <alpha>
    <cache>
      <add group="MotorProtection">
        <add name="SystemConfigCache" type="MotorProtection.Core.Cache.SystemConfigCache, MotorProtection.Core" />
        <add name="DeviceCache" type="MotorProtection.Core.Cache.DeviceCache, MotorProtection.Core" />
      </add>
    </cache>
    <logging defaultProvider="SQLLoggingProvider">
      <providers>
        <add name="SQLLoggingProvider" type="MotorProtection.Core.Log.SQLLoggingProvider, MotorProtection.Core" level="-1" />
      </providers>
    </logging>
    <auditing defaultProvider="SQLAuditingProvider">
      <providers>
        <add name="SQLAuditingProvider" type="MotorProtection.Core.Log.SQLAuditingProvider, MotorProtection.Core" level="-1" />
      </providers>
    </auditing>
  </alpha>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>