/MotorProtection.Core/bin/Release/Data/MotorProtector.mdf
/MotorProtection.Core/bin/Release/Data/MotorProtector_log.ldf
/MotorProtection.Core/bin/Release/EntityFramework.SqlServer.dll
/MotorProtection.Core/bin/Release/EntityFramework.SqlServer.xml
/MotorProtection.Core/bin/Release/EntityFramework.dll
/MotorProtection.Core/bin/Release/EntityFramework.xml
/MotorProtection.Core/bin/Release/MotorProtection.Core.dll
/MotorProtection.Core/bin/Release/MotorProtection.Core.dll.config
/MotorProtection.Core/bin/Release/MotorProtection.Core.pdb
/MotorProtection.Core/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MotorProtection.Core/obj/Release/MotorProtection.Core.csproj.FileListAbsolute.txt
/MotorProtection.Core/obj/Release/MotorProtection.Core.csprojResolveAssemblyReference.cache
/MotorProtection.Core/obj/Release/MotorProtection.Core.dll
/MotorProtection.Core/obj/Release/MotorProtection.Core.pdb
/MotorProtection.Core/obj/Release/edmxResourcesToEmbed/Data/MotorProtector.csdl
/MotorProtection.Core/obj/Release/edmxResourcesToEmbed/Data/MotorProtector.msl
/MotorProtection.Core/obj/Release/edmxResourcesToEmbed/Data/MotorProtector.ssdl
/MotorProtection.JobManager/bin/Release/MotorProtection.JobManager.exe
/MotorProtection.JobManager/bin/Release/MotorProtection.JobManager.pdb
/MotorProtection.JobManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MotorProtection.JobManager/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MotorProtection.JobManager/obj/Release/MotorProtection.JobManager.MainService.resources
/MotorProtection.JobManager/obj/Release/MotorProtection.JobManager.ProjectInstaller.resources
/MotorProtection.JobManager/obj/Release/MotorProtection.JobManager.csproj.FileListAbsolute.txt
/MotorProtection.JobManager/obj/Release/MotorProtection.JobManager.csproj.GenerateResource.Cache
/MotorProtection.JobManager/obj/Release/MotorProtection.JobManager.csprojResolveAssemblyReference.cache
/MotorProtection.JobManager/obj/Release/MotorProtection.JobManager.exe
/MotorProtection.JobManager/obj/Release/MotorProtection.JobManager.pdb
/MotorProtection.Test/bin/Release/AlphaProtocal.dll
/MotorProtection.Test/bin/Release/AlphaProtocal.pdb
/MotorProtection.Test/bin/Release/Data/MotorProtector.mdf
/MotorProtection.Test/bin/Release/Data/MotorProtector_log.ldf
/MotorProtection.Test/bin/Release/EntityFramework.SqlServer.dll
/MotorProtection.Test/bin/Release/EntityFramework.SqlServer.xml
/MotorProtection.Test/bin/Release/EntityFramework.dll
/MotorProtection.Test/bin/Release/EntityFramework.xml
/MotorProtection.Test/bin/Release/MotorProtection.Constant.dll
/MotorProtection.Test/bin/Release/MotorProtection.Constant.pdb
/MotorProtection.Test/bin/Release/MotorProtection.Core.dll
/MotorProtection.Test/bin/Release/MotorProtection.Core.pdb
/MotorProtection.Test/bin/Release/MotorProtection.Test.exe
/MotorProtection.Test/bin/Release/MotorProtection.Test.exe.config
/MotorProtection.Test/bin/Release/MotorProtection.Test.pdb
/MotorProtection.Test/bin/Release/MotorProtection.Test.vshost.exe
/MotorProtection.Test/bin/Release/MotorProtection.Test.vshost.exe.config
/MotorProtection.Test/bin/Release/MotorProtection.Test.vshost.exe.manifest
/MotorProtection.Test/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MotorProtection.Test/obj/Release/MotorProtection.Test.csproj.FileListAbsolute.txt
/MotorProtection.Test/obj/Release/MotorProtection.Test.csprojResolveAssemblyReference.cache
/MotorProtection.Test/obj/Release/MotorProtection.Test.exe
/MotorProtection.Test/obj/Release/MotorProtection.Test.pdb
/Tool/ModbusTester/bin/Release/AlphaProtocal.dll
/Tool/ModbusTester/bin/Release/AlphaProtocal.pdb
/Tool/ModbusTester/bin/Release/Data/MotorProtector.mdf
/Tool/ModbusTester/bin/Release/Data/MotorProtector_log.ldf
/Tool/ModbusTester/bin/Release/EntityFramework.dll
/Tool/ModbusTester/bin/Release/EntityFramework.xml
/Tool/ModbusTester/bin/Release/ModbusTester.exe
/Tool/ModbusTester/bin/Release/ModbusTester.pdb
/Tool/ModbusTester/bin/Release/MotorProtection.Constant.dll
/Tool/ModbusTester/bin/Release/MotorProtection.Constant.pdb
/Tool/ModbusTester/bin/Release/MotorProtection.Core.dll
/Tool/ModbusTester/bin/Release/MotorProtection.Core.pdb
/Tool/ModbusTester/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Tool/ModbusTester/obj/Release/ModbusTester.Properties.Resources.resources
/Tool/ModbusTester/obj/Release/ModbusTester.SerialPortTester.resources
/Tool/ModbusTester/obj/Release/ModbusTester.csproj.FileListAbsolute.txt
/Tool/ModbusTester/obj/Release/ModbusTester.csproj.GenerateResource.Cache
/Tool/ModbusTester/obj/Release/ModbusTester.csprojResolveAssemblyReference.cache
/Tool/ModbusTester/obj/Release/ModbusTester.exe
/Tool/ModbusTester/obj/Release/ModbusTester.pdb
/Tool/PasswordGenerator/bin/Release/Data/MotorProtector.mdf
/Tool/PasswordGenerator/bin/Release/Data/MotorProtector_log.ldf
/Tool/PasswordGenerator/bin/Release/EntityFramework.dll
/Tool/PasswordGenerator/bin/Release/EntityFramework.xml
/Tool/PasswordGenerator/bin/Release/MotorProtection.Core.dll
/Tool/PasswordGenerator/bin/Release/MotorProtection.Core.pdb
/Tool/PasswordGenerator/bin/Release/PasswordGenerator.exe
/Tool/PasswordGenerator/bin/Release/PasswordGenerator.pdb
/Tool/PasswordGenerator/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Tool/PasswordGenerator/obj/Release/PasswordGenerator.Properties.Resources.resources
/Tool/PasswordGenerator/obj/Release/PasswordGenerator.csproj.FileListAbsolute.txt
/Tool/PasswordGenerator/obj/Release/PasswordGenerator.csproj.GenerateResource.Cache
/Tool/PasswordGenerator/obj/Release/PasswordGenerator.csprojResolveAssemblyReference.cache
/Tool/PasswordGenerator/obj/Release/PasswordGenerator.exe
/Tool/PasswordGenerator/obj/Release/PasswordGenerator.frmPWDGwnerator.resources
/Tool/PasswordGenerator/obj/Release/PasswordGenerator.pdb
