# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
AlphaProtocal/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
AlphaProtocal/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
MotorProtection.Constant/bin/Release/MotorProtection.Constant.pdb
MotorProtection.Constant/bin/Release/MotorProtection.Constant.dll
MotorProtection.Constant/obj/Release/MotorProtection.Constant.csprojResolveAssemblyReference.cache
MotorProtection.Constant/obj/Release/MotorProtection.Constant.csproj.FileListAbsolute.txt
MotorProtection.Constant/obj/Release/MotorProtection.Constant.dll
MotorProtection.Constant/obj/Release/MotorProtection.Constant.pdb
MotorProtection.Core/bin/Release/Data/MotorProtector.mdf
MotorProtection.Core/bin/Release/Data/MotorProtector_log.ldf
MotorProtection.Core/bin/Release/EntityFramework.dll
MotorProtection.Core/bin/Release/EntityFramework.SqlServer.dll
MotorProtection.Core/bin/Release/EntityFramework.SqlServer.xml
MotorProtection.Core/bin/Release/EntityFramework.xml
MotorProtection.Core/bin/Release/MotorProtection.Core.dll
MotorProtection.Core/bin/Release/MotorProtection.Core.dll
MotorProtection.Core/bin/Release/MotorProtection.Core.dll.config
MotorProtection.Core/bin/Release/MotorProtection.Core.pdb
MotorProtection.Core/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
MotorProtection.Core/obj/Release/edmxResourcesToEmbed/Data/MotorProtector.csdl
MotorProtection.Core/obj/Release/edmxResourcesToEmbed/Data/MotorProtector.ssdl
MotorProtection.Core/obj/Release/MotorProtection.Core.csproj.FileListAbsolute.txt
MotorProtection.Core/obj/Release/MotorProtection.Core.csprojResolveAssemblyReference.cache
MotorProtection.Core/obj/Release/MotorProtection.Core.dll
MotorProtection.Core/obj/Release/MotorProtection.Core.pdb
MotorProtection.Core/obj/Release/TempPE/Data.Model1.Context.cs.dll
MotorProtection.Core/obj/Release/TempPE/Data.Model1.cs.dll
MotorProtection.Core/obj/Release/TempPE/Data.MotorProtection.cs.dll
MotorProtection.Core/obj/Release/TempPE/Data.MotorProtection.Designer.cs.dll
MotorProtection.Core/obj/Release/TempPE/Data.MotorProtector.cs.dll
MotorProtection.Core/obj/Release/TempPE/Data.MotorProtector.Designer.cs.dll
MotorProtection.Core/obj/Release/TempPE/EdmRepositoryFactory.cs.dll
MotorProtection.Test/bin/Release/EntityFramework.dll
MotorProtection.Test/bin/Release/EntityFramework.SqlServer.dll
MotorProtection.Test/bin/Release/EntityFramework.SqlServer.xml
MotorProtection.Test/bin/Release/EntityFramework.xml
MotorProtection.Test/bin/Release/MotorProtection.Test.exe
MotorProtection.Test/bin/Release/MotorProtection.Test.exe.config
MotorProtection.Test/bin/Release/MotorProtection.Test.pdb
MotorProtection.Test/bin/Release/MotorProtection.Test.vshost.exe
MotorProtection.Test/bin/Release/MotorProtection.Test.vshost.exe.manifest
MotorProtection.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MotorProtection.Test/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
MotorProtection.Test/obj/Release/MotorProtection.Test.csproj.FileListAbsolute.txt
MotorProtection.Test/obj/Release/MotorProtection.Test.csprojResolveAssemblyReference.cache
MotorProtection.Test/obj/Release/MotorProtection.Test.exe
MotorProtection.Test/obj/Release/MotorProtection.Test.pdb
MotorProtection.UI/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
MotorProtection.UI/obj/Release/MotorProtection.UI.csproj.FileListAbsolute.txt
MotorProtection.UI/obj/Release/MotorProtection.UI.csproj.GenerateResource.Cache
Tool/ModbusTester/bin/Release/Data/MotorProtector.mdf
Tool/ModbusTester/bin/Release/Data/MotorProtector_log.ldf
Tool/ModbusTester/bin/Release/ModbusTester.exe
Tool/ModbusTester/bin/Release/ModbusTester.pdb
Tool/ModbusTester/bin/Release/MotorProtection.Constant.dll
Tool/ModbusTester/bin/Release/MotorProtection.Constant.pdb
Tool/ModbusTester/bin/Release/MotorProtection.Core.dll
Tool/ModbusTester/bin/Release/MotorProtection.Core.pdb
Tool/ModbusTester/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Tool/ModbusTester/obj/Release/ModbusTester.csproj.FileListAbsolute.txt
Tool/ModbusTester/obj/Release/ModbusTester.csproj.GenerateResource.Cache
Tool/ModbusTester/obj/Release/ModbusTester.csprojResolveAssemblyReference.cache
Tool/ModbusTester/obj/Release/ModbusTester.exe
Tool/ModbusTester/obj/Release/ModbusTester.pdb
